<h2>Sign Up</h2>

{{> flashMessages}}

<form method="POST" action="/process-signup">
  <label>
    Full name:
    <input type="text" name="fullName" placeholder="Lando Calrissian" />
  </label>
  <br />

  <label>
    Email:
    <input type="email" name="email" placeholder="lando@calrissian.com" />
  </label>
  <br />

  <label>
    Password:
    <input type="password" name="originalPassword" placeholder="We won't tell" />
  </label>
  <br />

  <button>Sign Up</button>
</form>

<a href="/google/login">Log In With Google</a>
<a href="/github/login">Log In With GitHub</a>
